// Color variables

$color-primary: #6E38F7;
$color-secondary: #E2D7FD;
$color-text: #363940;

// Variables for fonts

// H1
$h1-font-size: 2.25rem;
$h1-font-family: "Rubik";
$h1-font-weight: 500;
$h1-letter-spacing: 0;

//H2
$h2-font-size: 2rem;
$h2-font-family: "Rubik";
$h2-font-weight: 500;
$h2-letter-spacing: 0;


//H3
$h3-font-size: 1.75rem;
$h3-font-family: "Rubik";
$h3-font-weight: 500;
$h3-letter-spacing: 0;


//H4
$h4-font-size: 1.5rem;
$h4-font-family: "Rubik";
$h4-font-weight: 500;
$h4-letter-spacing: 0;


//H5
$h5-font-size: 1.25rem;
$h5-font-family: "Rubik";
$h5-font-weight: 500;
$h5-letter-spacing: 0;


//H6
$h6-font-size: 1.125rem;
$h6-font-family: "Rubik";
$h6-font-weight: 500;
$h6-letter-spacing: 0;

//paragraph
$p-font-size: 1rem;
$p-font-family: "Rubik";
$p-font-weight: 300;
$p-letter-spacing: 0;

//buttons
$button-font-family: "Rubik";
$button-font-weight: 500;
$button-font-size: 0.75rem;
$button-letter-spacing: 0;
$button-text-transform: uppercase;

//Links
$link-font-family: "Rubik";
$link-font-weight: 500;
$link-font-size: 0.75rem;
$link-letter-spacing: 0.125rem;
$link-text-transform: uppercase;
$link-text-decoration: none;
$link-color: $color-primary;
