<div class="row component features features-02">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.first_headline }}</h6>
    <p>{{ include.first_text }}</p>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.second_headline }}</h6>
    <p>{{ include.second_text }}</p>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.third_headline }}</h6>
    <p>{{ include.third_text }}</p>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.fourth_headline }}</h6>
    <p>{{ include.fourth_text }}</p>
  </div>
</div>
