<div class="row component features features-01">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.first_headline }}</h6>
    <p>{{ include.first_text }}</p>
    <a href="#">{{ include.first_button }}</a>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.second_headline }}</h6>
    <p>{{ include.second_text }}</p>
    <a href="#">{{ include.second_button }}</a>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.third_headline }}</h6>
    <p>{{ include.third_text }}</p>
    <a href="#">{{ include.third_button }}</a>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <h6>{{ include.fourth_headline }}</h6>
    <p>{{ include.fourth_text }}</p>
    <a href="#">{{ include.fourth_button }}</a>
  </div>
</div>
