h1 {
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
  margin-top: 0;
}

h2 {
  font-family: $h2-font-family;
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
  letter-spacing: $h2-letter-spacing;
  margin-top: 0;
}

h3 {
  font-family: $h3-font-family;
  font-weight: $h3-font-weight;
  font-size: $h3-font-size;
  letter-spacing: $h3-letter-spacing;
  margin-top: 0;
}

h4 {
  font-family: $h4-font-family;
  font-weight: $h4-font-weight;
  font-size: $h4-font-size;
  letter-spacing: $h4-letter-spacing;
  margin-top: 0;
}

h5 {
  font-family: $h5-font-family;
  font-weight: $h5-font-weight;
  font-size: $h5-font-size;
  letter-spacing: $h5-letter-spacing;
  margin-top: 0;
}

h6 {
  font-family: $h6-font-family;
  font-weight: $h6-font-weight;
  font-size: $h6-font-size;
  letter-spacing: $h6-letter-spacing;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-family: $p-font-family;
  font-weight: $p-font-weight;
  font-size: $p-font-size;
  letter-spacing: $p-letter-spacing;
}

button, .btn {
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  letter-spacing: $button-letter-spacing;
  text-transform: $button-text-transform;
}

a, a:hover, a:visited, a:active {
  font-family: $link-font-family;
  font-weight: $link-font-weight;
  font-size: $link-font-size;
  letter-spacing: $link-letter-spacing;
  text-transform: $link-text-transform;
  text-decoration: $link-text-decoration;
  color: $link-color;
}
